/*CSS GRID*/ 
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  font-family: century gothic;
  min-height: 100%;
}
.grid-container > * {
  /*box-shadow: -1px 1px 7px 0px black;*/
  padding: 20px;
}
.grid-container{
  display: grid;
  gap: 10px;
  grid-template:
    "header" auto
    "navbar" 100px
    "main" auto
    "sidebar" 100px
    "footer" 100px;
}
@media (min-width: 600px) {
  .grid-container{
    grid-template:
      "header header" auto
      "navbar navbar" 100px
      "sidebar main" auto
      "footer footer" 100px /
      200px auto;
  }
} 
@media (min-width: 1050px) {
  .grid-container{
    grid-template:
      "header header header" 90px
      "navbar main sidebar" auto
      "footer footer footer" 90px /
      200px auto 200px;
  }
} 
/*HEADER*/
nav{
  float: right;
}
.header img{
  width: 150px;
  height: 50px;
}
.header {
  padding-top: 20px;
  grid-area: header;
  font-size: 31.2px;
  background: #59a44e;
  opacity: 0.9; 
}
/*SIDEBAR*/
.sidebar{
  grid-area: sidebar;
}
/*CONTENIDO*/
.main{
  grid-area: main;
}
.main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.registro{
  width: 400px;
  background-color: #282d47;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  color: white;
  opacity: 0.9;
  box-shadow: 10px 15px 33px black;
}
.registro h4{
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}
.registro h5{
  color: #cbc8c8;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 10px;
}
.controls{
  width: 100%;
  background-color: #282d47;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-top: 16px;
  border: 1px solid #4a5ac1;
  font-size: 18px;
  color: white;
}
.registro p{
  height: 10px;
  font-size: small;
  text-align: center;
}
.registro a{
  color: white;
  text-decoration: none;
}
.registro a:hover{
  color: white;
  text-decoration: underline;
}
.botons{
  width: 100%;
  background: #3345a5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 18px;
}
/*NAVBAR*/
.navbar{
  grid-area: navbar;
}
/*FOOTER*/
.footer {
  grid-area: footer;
  background: #59a44e;
  opacity: 0.9; 
}